.hero-bg {
    background: white url(../Assets/Backgrounds/LandingPage.png) center / cover !important;
}

.abt-bg {
    background: url(../Assets/Backgrounds/AboutBackground.jpg) center / cover !important;
}

.job-pro-promo {
    background: url(../Assets/Logos/JobPro/JobPro4K.png) center/cover;
}

@media (max-width: 1024px) {
    .job-pro-promo {
        background: url(../Assets/Logos/JobPro/JobPro4K.png) center/cover;
    }
}

@media (max-width: 768px) {
    .job-pro-promo {
        background: url(../Assets/Logos/JobPro/JobPro4KTablet.png) center/cover;
    }
}

.center-button {
    margin: 0 auto;
    display: block;
}

.service-cards {
    background-color: #d0e9ff;
}

.service-cards:hover {
    background-color: #8dcaff;
}